#footer {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #e8e8e3;
  line-height: 1.8;
  letter-spacing: 36%;
  background: #2d2d2b;
}
.footer__wrapper {
  padding: 9rem 7.5rem 3rem;
  /* @media (max-width: 960px) {
    padding: 6rem 4rem 3rem;
  } */
  @media (max-width: 768px) {
    padding: 6rem 3rem 3rem;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-left: 8.75rem;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-left: 0;
  }
}
.footer__philosophy-title {
  font-size: 3rem;
  line-height: 1.2;
  padding-bottom: 1.87rem;
  margin-left: 8.75rem;
  @media (max-width: 768px) {
    font-size: 2rem;
    padding-bottom: 1.3rem;
    margin-left: 0;
  }
}
.footer__philosophy {
  width: 13rem;
  display: block;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.footer__site-nav {
  width: 14.6rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;

  @media (max-width: 768px) {
    padding-bottom: 3rem;
  }
  .footer__site-list {
    font-weight: 700;
    line-height: 2.2;
    padding-bottom: 1.75rem;
  }
  .footer__social-policy-list {
    line-height: 2;
    letter-spacing: 12%;
  }
}
.footer__company {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
  .footer__company-logo {
    width: 58rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 1.6rem !important;
    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }
    .footer__company-logo-img {
      width: 100%;
    }
  }
  address {
    width: 14.6rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 1.55rem;

    @media (max-width: 768px) {
      margin-inline: 0 auto;
      padding-bottom: 1rem;
    }
    br {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
small {
  margin-left: 8.75rem;
  line-height: 1.5;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}
