#footer {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #e8e8e3;
  line-height: 1.8;
  letter-spacing: 36%;
  background: #2d2d2b;
  .footer__wrapper {
    padding: 9rem 7.5rem 3rem;
    @media (max-width: 960px) {
      padding: 6rem 6rem 3rem;
    }
    @media (max-width: 768px) {
      padding: 6rem 1.8rem 3rem;
    }
  }
  .footer__main {
    display: flex;
    flex-direction: column;
  }
  .footer__title {
    font-size: 3rem;
    line-height: 1.2;
    padding-left: 8.75rem;
    padding-bottom: 1.87rem;
    @media (max-width: 960px) {
      padding-left: 0;
      padding-bottom: 3rem;
    }
  }
  .footer__nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 8.75rem 9.2rem;
    margin-bottom: 8rem;
    @media (max-width: 960px) {
      padding-inline: 0 6rem;
      margin-bottom: 4rem;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      padding-inline: 0;
      gap: 3rem;
    }
  }
  .footer__nav__philosophy {
    width: 13rem;
  }
  .footer__site-nav {
    a {
      transition: text-shadow 0.3s ease;
      position: relative;
    }
    a:hover {
      text-shadow: 0 0 0.6rem white;
    }
  }
  .footer__site-list {
    width: 5.5rem;
    font-weight: 700;
    line-height: 2.2;
    padding-bottom: 1.75rem;
    @media (max-width: 960px) {
      padding-bottom: 3rem;
    }
    @media (max-width: 768px) {
      line-height: 2.5;
    }
  }
  .footer__social-policy-list {
    line-height: 2;
    letter-spacing: 12%;
    @media (max-width: 768px) {
      line-height: 2.2;
    }
  }
  .footer__company {
    width: 100%;
    display: flex;
    @media (max-width: 960px) {
      flex-direction: column-reverse;
    }
  }
  address {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
    padding-left: 1.6rem;
    @media (max-width: 960px) {
      padding-block: 0 0.5rem;
      padding-inline: 0 2rem;
      margin-inline: auto 0;
    }
    @media (max-width: 768px) {
      margin-inline: 0 auto;
      padding-bottom: 1rem;
    }
    .address__mail {
      transition: text-shadow 0.3s ease;
      position: relative;
    }
    .address__mail:hover {
      text-shadow: 0 0 0.6rem white;
    }
  }
  small {
    display: block;
    margin-left: 8.75rem;
    line-height: 1.5;
    @media (max-width: 960px) {
      margin-left: 0;
    }
  }
}
