#header {
  width: 100%;
  position: relative;
  .header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 5.3vh;
    left: 8vw;
    z-index: 10;
  }
  /* hamburger */
  input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  .hamburger {
    display: block;
    width: 1.5rem;
    height: 0.5rem;
    position: fixed;
    top: 5.3vh;
    right: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }
  .hamburger span,
  .hamburger span::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all 0.5s;
  }
  .hamburger span::before {
    width: 80%;
    bottom: -0.6rem;
  }
  input[type="checkbox"]:checked + .hamburger span {
    top: 0;
    transform: translateY(0.6rem) rotate(-45deg);
    width: 100%;
  }
  input[type="checkbox"]:checked + .hamburger span::before {
    bottom: 0;
    transform: translateY(0) rotate(90deg);
    width: 100%;
  }

  /* nav */
  .header__body {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100vh;
    right: 0;
    background: #2d2d2b;
    color: #fff;
    transition: all 0.5s;
  }
  .header__body__wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
  .header__company-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 4rem;
    @media (max-width: 768px) {
      width: 100%;
      padding-inline: 0;
    }
    .header__company-logo-img {
      width: 100%;
      object-fit: cover;
    }
  }
  nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @media (max-width: 768px) {
      width: 100%;
      height: auto;
      gap: 3rem;
      margin: auto;
      padding-bottom: 5rem;
    }
  }
  .header__site-list,
  .header__social-policy-list {
    width: 15rem;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    @media (max-width: 768px) {
      text-align: center;
      padding-left: 0;
    }
  }
  .header__site-list {
    display: block;
    font-size: 2rem;
    line-height: 2.5;
    margin: auto auto 0;
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
    .header__site-item {
      transition: text-shadow 0.3s ease;
    }
    .header__site-item:hover {
      text-shadow: 0 0 0.6rem #fff;
    }
  }
  .header__social-policy-list {
    display: block;
    font-size: 1.5rem;
    line-height: 2.3;
    margin: 0 auto auto;
    @media (max-width: 768px) {
      font-size: 1.2rem;
      line-height: 2;
    }
    .header__social-policy-item {
      display: inline-flex;
      gap: 0.2rem;
      transition: text-shadow 0.3s ease;
      img {
        width: 1.4rem;
        @media (max-width: 768px) {
          width: 1.1rem;
        }
      }
    }
    .header__social-policy-item:hover {
      text-shadow: 0 0 0.6rem #fff;
    }
  }
  input[type="checkbox"]:checked ~ .header__body {
    top: 0;
  }
}
