/* TOPスライダー */
.top__slider {
  margin-bottom: 3rem;
  .splide__list {
    display: flex;
    gap: 1.5rem;
    @media (max-width: 768px) {
      gap: 1.2rem;
    }
  }
  .splide__slide {
    width: 28rem;
    height: 25rem;
    border-radius: 0.3rem;
    overflow: hidden;
    @media (max-width: 768px) {
      height: auto;
    }
  }
  .works__slide__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
  }
  .splide__works__space {
    width: 13.25rem;
    display: block;
    position: absolute;
    top: 1.8rem;
    left: 1.8rem;
    li {
      font-size: 0.9rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 3%;
      @media (max-width: 768px) {
        font-size: 0.7rem;
      }
    }
  }
  .splide__works__title {
    font-size: 1.3rem;
    position: absolute;
    bottom: 1.8rem;
    left: 1.8rem;
    @media (max-width: 768px) {
      font-size: 1rem;
      bottom: 0.5rem;
    }
  }
  .splide__arrow {
    background: transparent;
    svg {
      fill: #fff;
    }
  }
}

/* worksスライダー */
.works__slide {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-block: 6rem;
  @media (max-width: 960px) {
    height: 33.5rem;
    margin-block: 3rem;
  }
  @media (max-width: 768px) {
    margin-block: 2rem;
  }
  .splide__track {
    overflow: hidden;
  }
  .splide__list {
    display: flex;
    flex-wrap: nowrap;
  }
  .splide__slide {
    display: flex;
    justify-content: center;
    width: auto !important;
    flex-shrink: 0;
    opacity: 1;
    visibility: visible;
    img {
      width: auto;
      height: 40.5rem;
      object-fit: contain;
      @media (max-width: 960px) {
        height: 33.5rem;
      }
    }
  }
}
/* スライド画像のフェード防止 */
.work__slide {
  transition: none; /* 要素のアニメーションや遷移を無効化 */
  will-change: transform; /* プロパティの変更があることをブラウザに事前通知 */
  transform: translateZ(
    0
  ); /* 要素のZ軸を0に移動させる→画面のカクつきを防ぎ、スムーズな描画 */
  -webkit-transform: translateZ(0);
}
