#main {
  color: #fff;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
}
.fv {
  width: 100%;
  height: 64rem;
  position: relative;
  .fv__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 6rem 7.5rem;
  }
  .fv__intro {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    .fv__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* object-position: right bottom;
          object-position: 100% 100%; */
    }
  }
  .fv__scroll {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg); /* Y軸中央配置とテキスト回転 */
    .fv__scroll-text {
      font-size: 0.5rem;
      line-height: 1.6;
      letter-spacing: 3%;
    }
    .fv__scroll-arrow {
      width: 0.35rem;
      height: 0.9rem;
      flex-shrink: 0;
      transform: rotate(270deg);
    }
  }
  .fv__company {
    width: 100%;
    position: relative;
    display: flex;
  }
  .fv__company-logo {
    span {
      font-size: 1.12rem;
      font-weight: 700;
      letter-spacing: 1%;
      padding-bottom: 0.8rem;
      padding-left: 8.75rem;
    }
  }
  .fv__company-logo-img {
    width: 100%;
    display: flex;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .fv__company-intro {
    display: flex;
    justify-content: flex-end;
    padding-left: 3rem;
    padding-top: 2rem;
  }
  .fv__company-text {
    display: block;
    position: relative;
    line-height: 1.6;
    letter-spacing: 2%;
    padding-left: 8.75rem;
    padding-top: 0.8rem;
  }
  .fv__next-section__sub {
    width: 22rem;
    display: flex;
    margin-inline: auto 7.5rem;
    margin-top: -9.5rem;
    position: relative;
    .fv__next-section__small-img {
      width: 100%;
      object-fit: cover;
    }
  }
}
