body {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #1c1c1c;
  background: #e8e8e3;
}
.work__hero {
  .work__hero-wrapper {
    padding-bottom: 9rem;
  }
  .hero-img {
    width: 100%;
  }
}
.work__contents {
  width: 100%;
  background: #e8e8e3;
}
.work__heading {
  width: 57rem;
  display: block;
  padding-bottom: 9rem;
  margin-inline: auto;
  .work__title {
    font-size: 3rem;
    line-height: 130%;
    letter-spacing: 2%;
  }
}
.work__info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  .work__summary {
    width: 20rem;
    display: block;
    line-height: 180%;
    letter-spacing: 3%;
  }
  .work__details {
    width: 13rem;
    display: flex;
    flex-direction: column;
    line-height: 150%;
    letter-spacing: 3%;
    .work__detail__site {
      font-weight: 700;
      padding-bottom: 6rem;
    }
    .work__space {
      padding-top: 1.4rem;
      position: relative;
    }
    .work__space::before {
      display: flex;
      content: "";
      position: absolute;
      top: 0.75rem;
      left: 0;
      width: 3rem;
      border-bottom: 1px solid #1c1c1c;
    }
  }
}
.work__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  .work__body-top {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-bottom: 6rem;
  }
  .work__body-top--video {
    width: 57rem;
    height: 43rem;
    display: block;
    object-fit: cover;
    margin-inline: auto;
  }
  .work__body-top-picture {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    margin-inline: auto;
  }
  .splide {
    width: 100%;
    height: auto;
    overflow: hidden;
    .splide__track {
      overflow: visible;
    }
    .splide__list {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .splide__slide {
      display: block;
      width: 100%;
      opacity: 1 !important;
      visibility: visible !important;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  /* スライド画像のフェード防止 */
  .work__slide {
    transition: none;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
}
.next-page__link__sub {
  width: 57rem;
  display: flex;
  justify-content: end;
  margin-inline: auto;
  padding-block: 6rem 16rem;
  .next-page {
    width: 20.6rem;
    height: 14.6rem;
    display: block;
    position: relative;
    .next-page__img {
      width: 100%;
      height: unset;
      display: block;
      object-fit: cover;
    }
  }
  .next-page__nav {
    img {
      width: 1.6rem;
    }
  }
}
.next-page__nav {
  width: 13rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: absolute;
  top: 12.7rem;
  right: 0;
  .next-page__link__sub__title {
    font-size: 3rem;
    line-height: 130%;
    border-bottom: 1px solid #1c1c1c;
    padding-bottom: 0.3rem;
    margin-bottom: 1.8rem;
  }
}
.next-page__link {
  position: relative;
  img {
    width: 100%;
  }
  .next-page__nav {
    top: 27rem;
    right: 16rem;
    img {
      width: 1.6rem;
    }
  }
}
