<!DOCTYPE html>
<html lang="Ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>CG__Works-entry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="work__hero">
		<div class="work__hero-wrapper">
        <picture>
            <source media="(max-width: 960px)" srcset="" type="image/webp">
            <img class="hero-img" src="/images/mate_top@2x.webp" width="1440" height="1024" alt="">
		</picture>
		</div>
	</section>
    <section class="work__contents">
        <div class="work__contents">
            <div class="work__heading">
                <h1 class="work__title">MATE.BIKE NO 違法改造, NO 危険運転 Special site</h1>
                <div class="work__info">
                    <div class="work__summary">
                        法令を遵守しつつ、楽しみながら、人と地球に優しい選択をするe-BIKEを正しく活用するために、ユーザーの皆様に向けた特設サイトの制作をお手伝いさせていただきました。
                    </div>
                    <a href="" class="work__detail">
                        Visit Site
                        <img src="/images/visit-site__arrow.svg" alt="work詳細ページへ">
                    </a>
                    <div class="work__year">2024</div>
                    <div class="work__client">Client：MATE.BIKE</div>
                    <div class="work__space">
                        Web Design<br>
                        Web Development
                    </div>
                </div>
            </div>
            <div class="work__body">
                <div class="work__hero-wrapper">
                    <picture>
                        <source media="(max-width: 960px)" srcset="" type="image/webp">
                        <img class="work__body-top-img" src="/images/mate01@2x.webp" width="919" height="654" alt="">
                    </picture>
                    <div class="work__slide-wrapper">
                        <picture>
                            <source media="(max-width: 960px)" srcset="" type="image/webp">
                            <img class="work__slide" src="/images/slide01@2x.webp" width="447" height="649" alt="">
                        </picture>
                        <picture>
                            <source media="(max-width: 960px)" srcset="" type="image/webp">
                            <img class="work__slide" src="/images/slide02@2x.webp" width="447" height="649" alt="">
                        </picture>
                        <picture>
                            <source media="(max-width: 960px)" srcset="" type="image/webp">
                            <img class="work__slide" src="/images/slide03@2x.webp" width="447" height="649" alt="">
                        </picture>
                    </div>
                    <div class="next-page-link__sub">
                        <a href="" class="next-page">
                            <img class="next-page__img-small" src="/images/next__small@2x.webp" width="330" height="234" alt="">
                            <h2 class="next-page-link__sub__title">Next</h2>
                            <span>Codegraph Namecard</span>
                            <img src="/images/next-page__arrow.svg" alt="nextページへ">
                        </a>
                    </div>
		        </div>
            </div>
        </div>
    </section>
    <section class="next-page-link">
        <a href="" class="next-page">
            <picture>
                <source media="(max-width: 960px)" srcset="" type="image/webp">
                <img class="next-page__img-small" src="/images/next__small@2x.webp" width="1440" height="1024" alt="">
            </picture>
            <h2 class="next-page-link__sub__title">Next</h2>
            <span>Codegraph Namecard redesign</span>
            <img src="/images/next-page__arrow.svg" alt="nextページへ">
        </a>
    </section>
</body>
</html>
