{% extends '_layout' %} {% block content %}
<main id="main" class="main">
  <section class="fv">
    <div class="fv__inner">
      <div class="fv__intro">
        <picture>
          <source media="(max-width: 960px)" srcset="" type="image/webp" />
          <img
            class="fv__image"
            src="/images/fv/top__fv.webp"
            alt=""
            width="1440"
            height="1024"
          />
        </picture>
      </div>
      <div class="fv__scroll">
        <p class="fv__scroll-text">Scroll to explore</p>
        <img class="fv__scroll-arrow" src="/images/scroll-arrow.svg" alt="" />
      </div>
      <div class="fv__company">
        <div class="fv__company-logo">
          <span>Web &amp; Visual Solutions</span>
            <h1 class="fv__company-logo-img">
              <img
                src="/images/company-logo.webp"
                alt=""
                width="940"
                height="164"
              />
            </h1>
        </div>
        <p class="fv__company-intro">
          わたしたちは、ウェブソリューションとビジュアルコンテンツの力で、クライアントのブランド価値を高め、共に成長することを目指します。
        </p>
      </div>
      <div class="fv__company-text">
        <p>Coding beautiful experiences.</p>
        <p>Not just websites.</p>
        <span>Since 2014.</span>
      </div>
    </div>
    <div class="fv__next-section__sub">
        <picture>
          <source media="(max-width: 960px)" srcset="" type="image/webp" />
          <img
            class="fv__next-section__small-img"
            src="/images/fv/top__hero-small-img.webp"
            alt=""
            width="352"
            height="198"
          />
        </picture>
    </div>
  </section>
  <section class="hero">
    <div class="hero__wrapper">
      <div class="hero__img__wrapper">
        <picture>
          <source media="(max-width: 960px)" srcset="" type="image/webp" />
          <img
            class=""
            src="/images/fv/top__hero-img.svg"
            alt=""
            width="1440"
            height="810"
          />
        </picture>
        <a href=""><img src="/images/arrow.svg" alt="" class="arrow" width="26" height="26"></a>
      </div>
      <div class="hero__company-overview">
        <h2 class="hero__company-overview__info__en">
        Through planning, management, design, and development, we provide creative solutions that meet our clients' diverse needs and requirements.
        </h2>
        <div class="hero__company-overview__info__wrapper">
          <div class="hero__company-overview__info">
            <p>
            コードグラフは、クライアントの多様な要望に応じて、企画・マネジメント・デザイン・開発を通し、要件に沿ったクリエイティブを提供しています。クライアントの目指すゴールのため、何が最適解か、そのために私たちが提供できる最良のソリューションは何か、常に議論を重ねながら課題解決にあたります。
            </p>
          </div>
          <div class="hero__services-link">
            <a href="/services/">
              <span>Discover more<br>our services.</span>
              <img src="/images/next-page__arrow.svg" alt="" class="arrow" width="26" height="26">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="works">
    <div class="slide splide top__slider" aria-label="top__slide">
      <div class="splide__track">
        <div class="splide__list">
          <div class="splide__slide">
            <a href="" class="splide__works__slide">
              <img src="/images/fv/top__slide01.webp" alt="" class="works__slide__img" width="448" height="400">
              <ul class="splide__works__space">
                <li>Web Design</li>
                <li>Web Development</li>
                <li>Copywriting</li>
              </ul>
              <p class="splide__works__title">The Lodge Okinawa teaser site</p>
            </a>
          </div>
          <div class="splide__slide">
            <a href="" class="splide__works__slide">
              <img src="/images/fv/top__slide02.webp" alt="" class="works__slide__img" width="448" height="400">
              <ul class="splide__works__space">
                <li>Coding</li>
              </ul>
              <p class="splide__works__title">infocom MVV special site</p>
            </a>
          </div>
          <div class="splide__slide">
            <a href="" class="splide__works__slide">
              <img src="/images/fv/top__slide03.webp" alt="" class="works__slide__img" width="448" height="400">
              <ul class="splide__works__space">
                <li>Web Design</li>
                <li>Web Development</li>
              </ul>
              <p class="splide__works__title">MATE.BIKE Safe drive special site</p>
            </a>
          </div>
          <div class="splide__slide">
            <a href="" class="splide__works__slide">
              <img src="/images/fv/top__slide04.webp" alt="" class="works__slide__img" width="448" height="400">
              <ul class="splide__works__space">
                <li>Web Design</li>
                <li>Web Development</li>
              </ul>
              <p class="splide__works__title">MATE.BIKE Yosuke kubozuka rinding<br>in Denmark</p>
            </a>
          </div>
          <div class="splide__slide">
            <a href="" class="splide__works__slide">
              <img src="/images/fv/top__slide05.webp" alt="" class="works__slide__img" width="448" height="400">
              <ul class="splide__works__space">
                <li>Photo shooting</li>
              </ul>
              <p class="splide__works__title">SHIROBAKO</p>
            </a>
          </div>
          <div class="splide__slide">
            <a href="" class="splide__works__slide">
              <img src="/images/fv/top__slide06.webp" alt="" class="works__slide__img" width="448" height="400">
              <ul class="splide__works__space">
                <li>Web Design</li>
                <li>Web Development</li>
              </ul>
              <p class="splide__works__title">MATE.BIKE Safe drive special site</p>
            </a>
          </div>
        </div>
      </div>
    </div>
      <div class="works__wrapper">
        <div class="works__detail">
          <div class="works__title__wrapper">
            <h2 class="works__title">Click to explore a collection of featured works.
            </h2>
          </div>
          <div class="works__detail__link__wrapper">
            <div class="works__detail__link">
              <a href="/works/">
                <span>Discover more<br>our works.</span>
                <img src="/images/next-page__arrow.svg" alt="" class="arrow" width="26" height="26">
              </a> 
              <div class="works__detail__description">
                <p>
                わたしたちは技術とクリエイティブを掛け合わせた総合力を強みとしていますが、何よりクライアントと共に考え、共につくる協創のプロセスを大切にしています。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="contact">
    <div class="contact__wrapper">
      <img class="contact__img" src="/images/fv/top__contact-img.webp" alt="" width="448" height="252">
      <h2 class="contact__info__en">Personalized support<br> for each client.</h2>
      <div class="contact__info__wrapper">
        <p>わたしたちはスムーズなコミュニケーションを大切にし、必要な情報を分かりやすくお届けすることが相互理解を深め、プロジェクトの成功に近づくと考えます。ご不明な点があれば、お気軽にお問い合わせください。</p>
      </div>
      <div class="contact__link__wrapper">
        <p class="contact__link__title">Contact</p>
        <div class="contact__link">
          <a href="/contact/">
            <span>Let's talk.</span>
            <img src="/images/next-page__arrow.svg" alt="" class="arrow" width="26" height="26">
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
