<footer id="footer" class="footer">
  <div class="footer__philosophy">
    <h2 class="footer__philosophy-title">Beyond Tomorrow, Together</p>
    <p class="footer__philosophy-text">We cherish every relationship and partnership we build. Through new challenges and opportunities, Codegraph continues to evolve. Thank you for being with us on this journey.</p>
  </div>
  <div class="footer__nav">
    <ul class="footer__site-list">
        <li><a class="footer__site-list__work" href="">WORK</a></li>
        <li><a class="footer__site-list__services" href="">SERVICES</a></li>
        <li><a class="footer__site-list__about" href="">ABOUT</a></li>
        <li><a class="footer__site-list__contact" href="">CONTACT</a></li>
    </ul>
  </div>
</footer>
