<footer id="footer" class="footer">
  <div class="footer__wrapper">
    <div class="footer__main">
      <h2 class="footer__title">Beyond Tomorrow, Together</h2>
      <div class="footer__nav">
        <p class="footer__nav__philosophy">
          We cherish every relationship and partnership we build. Through new
          challenges and opportunities, Codegraph continues to evolve. Thank you
          for being with us on this journey.
        </p>
        <div class="footer__site-nav">
          <nav>
            <ul class="footer__site-list">
              <li><a class="footer__site-list__work" href="">WORK</a></li>
              <li><a class="footer__site-list__services" href="">SERVICES</a></li>
              <li><a class="footer__site-list__about" href="">ABOUT</a></li>
              <li><a class="footer__site-list__contact" href="">CONTACT</a></li>
            </ul>
            <ul class="footer__social-policy-list">
              <li><a class="footer__sns-instagram" href="">Instagram</a></li>
              <li>
                <a class="footer__sns-privacy-policy" href="">Privacy Policy</a>
              </li>
            </ul>
          </nav>
        </div> 
      </div>
    </div> 
    <div class="footer__company">
      <h1 class="footer__company-logo">
        <img src="/images/company-logo.webp" alt="" class="footer__company-logo-img" width="940" height="164">
      </h1>
      <address>
      <ul>
        <li class="mail"><a class="address__mail" href="mailto:hello@cdgrph.com">hello@cdgrph.com</a></li>
        <li class="tel"><a class="address__tel" href="tel:">098 917 0713</a></li>
        <li class="location"><a href="" class="address__location">1F 1-3-7 Nishihara, Urasoe<br>
        City,Okinawa,Japan</a></li>
      </ul>
      </address>
    </div> 
    <small>© 2025 codegraph, Inc.</small>
  </div>
</footer>
