<footer id="footer" class="footer">
  <div class="footer__wrapper">
    <div class="footer__body">
      <div class="footer__philosophy">
        <h2 class="footer__philosophy-title">Beyond Tomorrow, Together</h2>
        <p class="footer__philosophy-text">
          We cherish every relationship and partnership we build. Through new
          challenges and opportunities, Codegraph continues to evolve. Thank you
          for being with us on this journey.
        </p>
      </div>
      <div class="footer__company">
        <h1 class="footer__company-logo">
          <img
            src="/images/company-logo.webp"
            alt=""
            class="footer__company-logo-img"
            width="940"
            height="164"
          />
        </h1>
        <small>© 2025 codegraph, Inc.</small>
      </div>
    </div>
    <div class="footer__nav">
      <nav class="footer__site-nav">
        <ul class="footer__site-list">
          <li><a class="footer__site-list__work" href="">WORK</a></li>
          <li><a class="footer__site-list__services" href="">SERVICES</a></li>
          <li><a class="footer__site-list__about" href="">ABOUT</a></li>
          <li><a class="footer__site-list__contact" href="">CONTACT</a></li>
        </ul>
        <ul class="footer__social-policy-list">
          <li class="footer__sns-instagram">Instagram</li>
          <li class="footer__sns-privacy-policy">Privacy Policy</li>
        </ul>
      </nav>
      <address>
        <a href="mailto:hello@cdgrph.com">hello@cdgrph.com</a><br />
        098 917 0713<br />
        1F 1-3-7 Nishihara, Urasoe<br />
        City,Okinawa,Japan
      </address>
    </div>
  </div>
</footer>
