<header id="header" class="header">
    <div class="header__wrapper">
        <a class="header__home" href="">
            <img src="/images/header-logo.svg" alt="" width="25" height="29">
        </a>
        <input type="checkbox" id="check">
        <label for="check" class="hamburger">
            <span></span>
        </label>

        <div class="header__body">
            <div class="header__body__wrapper">
               <h1 class="footer__company-logo">
                    <img
                    src="/images/company-logo.webp"
                    alt=""
                    class="header__company-logo-img"
                    width="940"
                    height="164"
                    />
                </h1>
                <nav>
                    <ul class="header__site-list">
                        <li><a class="header__site-item" href="">HOME</a></li>
                        <li><a class="header__site-item" href="">WORK</a></li>
                        <li><a class="header__site-item" href="">SERVICES</a></li>
                        <li><a class="header__site-item" href="">ABOUT</a></li>
                        <li><a class="header__site-item" href="">CONTACT</a></li>
                    </ul>
                    <ul class="footer__social-policy-list">
                        <li><a class="footer__social-policy-item" href="">
                        Instagram
                        <img src="/images/instagram-icon.svg" alt="" width="23" height="23"></a></li>
                        <li><a class="footer__social-policy-item" href="">Privacy Policy</a></li>
                    </ul>
                </nav>     
            </div>
        </div>
    </div>
</header>